<div class="logout-content">
    <h4>You are logged in</h4>
      <img src="https://static.thenounproject.com/png/1095867-200.png" alt="Your profile picture goes here">
    <button class="btn btn-danger btn-log-out" type="button" (click)="logout()">Log Out</button>
</div>
