.logout-content h4 {
  text-align: center;
}

.logout-content img,
.logout-content button {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.logout-content {
  margin: 20px;
}

