.search-section {
  padding: 20px;
  background-color: lightblue;
  margin: 0;
}

.content-info-section {
    background: lightblue;
    padding: 18px;
}

.search-again-button,
.show-last-results-button {
  width: 100%;
}
