<app-alert [type]="alertType" [message]="alertMessage"></app-alert>
<div *ngIf="toggleSearch" class="content-info-section">
  <button class="btn btn-success search-again-button" (click)="toggleSearch = !toggleSearch">Search Again</button>
</div>
<div class="search-section">
  <app-search-flights *ngIf="!toggleSearch" [isLoading]="isLoading" (searchFlightsSubmit)='displaySearchResults($event)'></app-search-flights>
</div>
<div class="search-section">
  <button *ngIf="!toggleSearch && flightsList" class="btn btn-success show-last-results-button" (click)="toggleSearch = !toggleSearch">Show last search results</button>
  <app-display-flights *ngIf="toggleSearch"
  [isLoading]="isLoading"
  [flightsList]="flightsList"></app-display-flights>
</div>

