.content-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2px;
  vertical-align: middle;
  background-color: white;
  padding-bottom: 80px;
  border-radius: 5px;
  box-shadow: gray 0 0 3px;
}

.content-container-wrapper {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  padding-top: 10px;

}

@media only screen and (max-width: 500px) {
  .content-container-wrapper {
    padding-top: 0;
  }
}

.content-title {
  text-align: center;
}

