<div class="auth-container-wrapper">
  <div class="auth-container">
    <app-alert [type]="alertType" [message]="alertMessage" (messageChanged)='updateMessage($event)'></app-alert>
    <div class="auth-brand">
    <a class="auth-brand" href="#">
      <img src="../../../assets/images/logo-image.png" alt="Flights'N'Weather">
    </a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

