<div class="login-form-wrapper">
  <h3 class="login-form-title auth-title">Log In</h3>
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="text" class="form-control" [placeholder]="'Username'" formControlName="username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [placeholder]="'Password'" formControlName="password">
      <app-validation-label [control]="controls['password']"></app-validation-label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-raised" type="submit" [disabled]="loginForm.invalid">
        <span [hidden]="isLoading">Submit</span>
        <span [hidden]="!isLoading"><i class="fas fa-plane fa-2x fa-spin"></i></span>
      </button>
    </div>
    <a [routerLink]="registerPath">Don't have an account? Sign up here!</a>
  </form>
</div>

