.notfound-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  vertical-align: middle;
  background-color: white;
}

.notfound-container-wrapper {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
  //background-color: lightgray;
}

@media only screen and (max-width: 500px) {
  .notfound-container-wrapper {
    padding-top: 0;
  }
}

.notfound-brand a {
  display: block;
  margin: 0 auto;
  width: 50%;
  min-width: 100px;
  margin-bottom: 20px;
}

.notfound-title {
  text-align: center;
}

