<div *ngIf="message && message.length > 0" class="alert alert-{{ type }} alert-dismissible show" role="alert">
  <span style="white-space: pre-line">{{ message }}</span>
  <button type="button" (click)="close_clicked()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
