<div class="card">
  <div class="card-body">
    Your search produced {{ flightsList.length }} results.
  </div>
</div>
<div class="row search-results-wrapper">
  <div *ngFor="let flight of flightsList" class="col-md-4 col-sm-6 col-12 card flight-card">
    <div class="card-body flight-card-body">
      <h5 class="flight-card-title card-title">Airline: <b>{{ flight.airline }}</b></h5>
      <h6 class="flight-card-subtitle card-subtitle mb-2 text-muted">Flight number: <b>{{ flight.flightNo }}</b></h6>
      <p class="card-text">Flight type: <b>{{ flight.type }}</b></p>
      <p class="card-text">Number of stops: <b>{{ flight.stopsNo }}</b></p>
      <div class="row">
        <div class="col-6 card source-card weather-card"
            [ngStyle]="(flight.sourceWeatherData !== undefined) ? loadWeatherStyles(flight.sourceWeatherData.weather[0].id) : ''">
            Departure date: <b>{{ flight.departureDate | amTimeAgo }}</b>
          <hr>
          <div [hidden]="!isLoading">
            <i class="fas fa-spinner fa-5x fa-spin"></i>
          </div>
          <div [hidden]="isLoading">
            <i class="owf owf-5x owf-{{ (flight.sourceWeatherData !== undefined) ? flight.sourceWeatherData.weather[0].id : '' }}"></i>
            <div>
              <b>{{ (flight.sourceWeatherData !== undefined) ? flight.sourceWeatherData.weather[0].main : '' }}</b>
              <br>
              <small>{{(flight.sourceWeatherData !== undefined) ? flight.sourceWeatherData.weather[0].description :
                ''}}</small>
              <br>
              <span style="display: block; margin: 0 auto;"><b>{{showTemperature(flight.sourceWeatherData)}}</b></span>
            </div>
          </div>
        </div>


        <div class="col-6 card source-card weather-card"
          [ngStyle]="(flight.sourceWeatherData !== undefined) ? loadWeatherStyles(flight.sourceWeatherData.weather[0].id) : ''">
          Arrival date: <b>{{ flight.departureDate | amTimeAgo }}</b>
          <hr>
          <div [hidden]="!isLoading">
            <i class="fas fa-spinner fa-5x fa-spin"></i>
          </div>
          <div [hidden]="isLoading">
            <i class="owf owf-5x owf-{{ (flight.sourceWeatherData !== undefined) ? flight.sourceWeatherData.weather[0].id : '' }}"></i>
            <div>
              <b>{{ (flight.sourceWeatherData !== undefined) ? flight.sourceWeatherData.weather[0].main : '' }}</b>
              <br>
              <small>{{(flight.sourceWeatherData !== undefined) ? flight.sourceWeatherData.weather[0].description : ''}}</small>
              <br>
              <span style="display: block; margin: 0 auto;"><b>{{showTemperature(flight.sourceWeatherData)}}</b></span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
