<div class="nav-wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/images/logo-horizontal.png" height="30" class="d-inline-block align-top" alt="Flights'N'Weather">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/flights" routerLinkActive="active">Search flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
      </ul>
      <span class="navbar-text logged-info">
        Hi {{ name }}!
      </span>
      <button class="btn btn-outline-danger btn-log-out" type="button" (click)="logout()">Log Out</button>
    </div>
  </nav>
</div>
