<div class="register-form-wrapper">
  <h3 class="register-form-title auth-title">Register new user</h3>
  <form (ngSubmit)="register()" [formGroup]="registerForm">
    <div class="form-group">
      <input type="text"
        [ngClass]="getClasses(controls['name'])"
        [placeholder]="'Name'" formControlName="name">
      <app-validation-label [control]="controls['name']"></app-validation-label>
    </div>
    <div class="form-group">
      <input type="text"
        [ngClass]="getClasses(controls['surname'])"
        [placeholder]="'Surname'" formControlName="surname">
      <app-validation-label [control]="controls['surname']"></app-validation-label>
    </div>
    <div class="form-group">
        <input type="text" [ngClass]="getClasses(controls['email'])"
        [placeholder]="'Email'" formControlName="email">
      <app-validation-label [control]="controls['email']"></app-validation-label>
    </div>
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="text"
        [ngClass]="getClasses(controls['username'])"
        [placeholder]="'Username'" formControlName="username">
    </div>
    <div class="form-group">
      <input type="password"
        [ngClass]="getClasses(controls['password'])"
        [placeholder]="'Password'" formControlName="password">
      <app-validation-label [control]="controls['password']"></app-validation-label>
    </div>
    <div class="form-group">
      <input type="password"
        [ngClass]="getClasses(controls['confirm'])"
        [placeholder]="'Confirm Password'" formControlName="confirm">
      <app-validation-label [control]="controls['confirm']"></app-validation-label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-raised" type="submit" [disabled]="registerForm.invalid">
        <span [hidden]="isLoading">Submit</span>
        <span [hidden]="!isLoading"><i class="fas fa-plane fa-2x fa-spin"></i></span>
      </button>
    </div>
    <a [routerLink]="loginPath">Got an account already? Log in here!</a>
  </form>
</div>
