.datepicker-wrapper,
.bottom-controls-wrapper,
.airport-search-wrapper {
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.bottom-controls-wrapper,
.airport-search-wrapper {
    margin: 0px;
    padding-top: 20px;
}

.airport-search-wrapper {
   margin-top: 20px;
   margin-bottom: 20px;
  // margin: 0px;
  // padding-top: 20px;
  // padding-bottom: 20px;
}

.datepicker-labels {
    background: lightgray;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
    min-height: 10px;
    overflow: auto;
}

.datepicker-labels label {
  margin-left: 3px;
  margin-right: 3px;
}

.people-label {
  margin-top: 5px;
  text-align: right;
}

.image-wrapper img {
  margin-top: 30px;
}
