<div class="search-flights-wrapper">
  <div class="card col-12">
    <div class="card-body">
  Use the form below to search for available flights.<br>
  Note: Some airports do not contain weather data. Also, weather information is available for only up to 5 days.
    </div>
  </div>
  <form (ngSubmit)="searchFlights()" [formGroup]="searchFlightsForm">
    <div class="row search-image-wrapper">
      <div class="col-md-8 col-12 form-controls-wrapper">
        <div class="airport-search-wrapper row">
          <div class="form-group col-md-6">
            <ng-select [items]="sourceAirports$ | async" notFoundText="Search by name, city, country, IATA code ..."
              bindLabel="display" [virtualScroll]="true" formControlName="sourceAirport" (input)="onSourceSearchChange($event.target.value)"
              [placeholder]="sourceAirportPlaceholder" [ngClass]="selectClasses(controls['sourceAirport'])" bindValue="iata_code">
              <ng-template ng-option-tmp let-item="item">
                <b>{{item.airport_name}}</b> - {{item.iata_code}}<br />
                <small>{{item.city_name}}, {{item.country_name}}</small>
              </ng-template>
            </ng-select>
            <app-validation-label [control]="controls['sourceAirport']"></app-validation-label>
          </div>
          <div class="form-group col-md-6">
            <ng-select [items]="destinationAirports$ | async" bindLabel="display" notFoundText="Search by name, city, country, IATA code ..."
              (input)="onDestinationSearchChange($event.target.value)" formControlName="destinationAirport" [virtualScroll]="true"
              [placeholder]="destinationAirportPlaceholder" [ngClass]="selectClasses(controls['destinationAirport'])" bindValue="iata_code">
              <ng-template ng-option-tmp let-item="item">
                <b>{{item.airport_name}}</b> - {{item.iata_code}}<br />
                <small>{{item.city_name}}, {{item.country_name}}</small>
              </ng-template>
            </ng-select>
            <app-validation-label [control]="controls['destinationAirport']"></app-validation-label>
          </div>
        </div>
        <div class="row datepickers-wrapper">
          <div class="form-group col-md-6">
            <div class="datepicker-wrapper">
              <div class="datepicker-labels">
                <label>Departure date: </label>
                <label *ngIf="controls['departureDatePicker'].value">
                  <b>{{ controls['departureDatePicker'].value | amDateFormat:'LL' }}</b>
                </label>
              </div>
              <dl-date-time-picker startView="day" maxView="day" minView="day" minuteStep="60" formControlName="departureDatePicker">
              </dl-date-time-picker>
            </div>
            <app-validation-label [control]="controls['departureDatePicker']"></app-validation-label>
          </div>
          <div class="form-group col-md-6">
            <div class="datepicker-wrapper">
              <div class="datepicker-labels">
                <label>Arrival date: </label>
                <label *ngIf="controls['arrivalDatePicker'].value">
                  <b>{{ controls['arrivalDatePicker'].value | amDateFormat:'LL' }}</b>
                </label>
              </div>
              <dl-date-time-picker startView="day" maxView="day" minView="day" minuteStep="60" formControlName="arrivalDatePicker">
              </dl-date-time-picker>
            </div>
            <app-validation-label [control]="controls['arrivalDatePicker']"></app-validation-label>
          </div>
        </div>
        <div class="row bottom-controls-wrapper">
          <label class="col-md-3 col-8 people-label" for="adultsNo">Number of adults:</label>
          <input class="col-md-1 col-4" type="number" min="1" max="9" [ngClass]="inputClasses(controls['adultsNo'])" formControlName="adultsNo">
          <app-validation-label [control]="controls['adultsNo']"></app-validation-label>
          <label class="col-md-3 col-8 people-label" for="childrenNo">Number of children:</label>
          <input class="col-md-1 col-4" type="number" min="0" max="9" [ngClass]="inputClasses(controls['childrenNo'])"
            formControlName="childrenNo">
          <app-validation-label [control]="controls['childrenNo']"></app-validation-label>
          <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary btn-block btn-raised" type="submit" [disabled]="searchFlightsForm.invalid">
              <span [hidden]="isLoading">Search</span>
              <span [hidden]="!isLoading"><i class="fas fa-plane fa-2x fa-spin"></i></span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 image-wrapper">
        <img class="col" src="../../../../../assets/images/logo-vertical.png" alt="Flights'N'Weather">
      </div>
    </div>
  </form>
</div>
